@keyframes opacityIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


#details_city {
  font-weight: 500;
  font-size: 4em;

  animation: testOpa 1s;
}


#temperature {
  font-size: 8em;
}

#currentDay {
  font-size: 2em;
}

.city {

  background-color: rgba(255, 255, 255, 0);
  color: white;
  border: none;

  &:hover {
    transform: scale(1.05);
    background-color: rgba(175, 238, 238, 0.745);
    color: rgb(12, 72, 72);
    cursor: pointer;
    transition: all .5s;
  }
}



body {
  background-color: #33495F;

  p {
    animation: testOpa 2s;
  }

  #humidity {
    font-size: 30px;
  }

  #wind {
    font-size: 30px;
  }

}


#i-main {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);

  #mainTitle {
    font-weight: 500;
    font-size: 6em;


  }

  input[type=text] {

    font-size: 1.3em;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    background-color: transparent;
  }

  ::placeholder {
    color: white;
  }

}

.weatherGif {
  background-image: url('./assets/weather.gif');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  top: -65px;
  z-index: -1;
  height: 473.9px;
}

.list-group-item {

  animation: opacityIn 1.75s;

}

/* media per dispositivi mobili */

@media screen and (max-width: 575px) {

  #i-main {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);


    #mainTitle {
      font-weight: 500;
      font-size: 3em;
    }


  }

  .weatherGif {
    background-image: url('./assets/weather.gif');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    top: -65px;
    z-index: -1;
    height: 473.9px;
  }



}









.offcanvas-body {
  background-color: #33495F;
}

.offcanvas-header {
  background-color: #33495fea;
}